* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$negro: #000000;
$blanco: #fff;
$color: #f19a2d;
$fuente-normal: 'Open Sans',
sans-serif;
$fuente-titulo: 'Roboto Slab',
serif;
$redes: (whatsapp: #167c16,
    facebook: #005acf,
    twitter: #17c0eb,
    youtube: #fd3402,
    instagram: #a421be,
);